.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  transition: 0.5s;

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding-top: 3rem;
    padding-left: 1rem;
    transform: translateX(-100%);
    z-index: 3;
  }
  @media only screen and (max-width: $bp-smallest) {
    width: 80%;
  }
}

.toggle-results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 0;
  border: none;
  background-color: $color-grad-1;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 1rem;
  top: 1rem;
  transform: translateX(100%);

  span {
    width: 3rem;
    height: 0.5rem;
    border-radius: 3rem;
    background-color: #fff;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-small) {
    padding: 0;
  }
}

.preload {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  background: $color-grad-1;
  border-radius: 3rem;
}

.pagination {
  margin-top: auto;
  padding: 0 2rem;
  position: relative;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    &--cur {
      float: none;
      position: absolute;
      left: 38%;

      display: inline-block;
      padding: 1rem 3rem;
      cursor: default;
      background-color: $color-grey-light-2;
      // margin-left: 2rem;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
